@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* CSS PRESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

li{
    list-style: none;
}

/*Navbar*/

#navbar{
    display: flex;
    position:sticky;
    top: 0;
    background: #fff;
    color:#000 ;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}
.text-primary{
    font-size: 1.5em;
    margin-right: -0.18em;
    color: #5392f9;
}
.fab:hover{
    color: #5392f9;
}
#navbar ul{
    display: flex;
    align-items: center;
    color: #000;
}
#navbar ul li a{
    color: rgb(0, 0, 0);
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    color: #5392f9;
}

/* Showcase*/
#showcase{
    background: #333 url(../img/1.jpg )no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
#showcase .showcase-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101.5%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top: 4em;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}
.showcase-heading{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    line-height: 1.3;
}
/* Description */
.m-heading{
    font-size: 1.5em;
    color: #5392f9;
}

/* About */

#about{
    display: flex;

}
.about-heading{
    text-align: center;
    color: #5392f9;
}
#about div{
    flex: 1;
}
#about .about-img{
    background: url('../img/2.jpg') no-repeat center center/cover;
}
.bg-dark{
    color: #fff;
    background-color: #333;
    padding: 2rem;
}