@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* CSS PRESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

li{
    list-style: none;
}

/*Navbar*/

#navbar{
    display: flex;
    position:sticky;
    top: 0;
    background: #fff;
    color:#000 ;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}
.text-primary{
    font-size: 1.5em;
    margin-right: -0.18em;
    color: #5392f9;
}
.fab:hover{
    color: #5392f9;
}
#navbar ul{
    display: flex;
    align-items: center;
    color: #000;
}
#navbar ul li a{
    color: rgb(0, 0, 0);
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    color: #5392f9;
}

/* Showcase*/
#showcase{
    background: #333 url(../img/1.jpg )no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
#showcase .showcase-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101.5%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}
.showcase-heading{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    line-height: 1.3;
}
/* Description */
.m-heading{
    font-size: 2em;
    color: #5392f9;

}
.items{
    display: flex;

}
.item{
    flex: 1;
    text-align: center;
    padding: 3rem;
}
.item:hover{
    background-color: rgba(194, 192, 192, 0.555);
}
.item i{
    background: #5392f9;
    padding: 1rem;
    border-radius: 30%;
    margin-bottom: 1rem;
    color: #fff;
}
.item i:hover{
    background-color: #333;
    color: #fff;
}

/* About */

#about{
    display: flex;

}
.about-heading{
    text-align: center;
    color: #5392f9;
    
}
#about div{
    flex: 1;
}
#about .about-img{
    background: url('../img/2.jpg') no-repeat center center/cover;
    padding: 5em;
}
.bg-dark{
    color: #fff;
    background-color: #333;
    padding: 5em;
}
.about-txt:hover{
    background-color: rgba(5, 5, 5, 0.897);
}

/* Contact */
#contact{
    display: flex;
}

.right-container h2{
    font-size: 2em;
    color: #5392f9;
    text-align: center;
}
.right-container, form{
    padding:3em;
}
.right-container form{
    padding-top:2em;
}
.left-container{
    background: url(../img/3.jpg) no-repeat center center/cover;
    background-color: rgba(0,0,0,0.4);
    padding: 3em;
}
.right-container, .left-container{
    flex: 1;
}
.form-group{
    margin: 0.75rem;
    font-size: 1.2em;
}
.form-group label{
    display: block;
    
}
.form-group input, textarea{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: solid #5392f9 0.1em;
    outline: none;
}
.btn{
    width: 100%;
    padding:0.7rem;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.05em;
    border: solid 0.08em #5392f9;
    border-radius: 0.3em;
    background-color: #fff;
    color: #5392f9;
    margin-top: 1em;
}
.btn:hover{
    background-color: #5392f9;
    color: #fff;
}
.alert{
    background-color:#79c879;
    color: #fff;
    text-align: center;
    padding: 1em;
    align-self: center;
    border-radius: 0.5em;
    display: none;
}

/* Footer */
#footer{
    background-color: #333;
    color: #fff;
    height: 100%;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}