.item{
    padding: 2em;
}
.about-txt, .about-img{
    padding: 2em !important;
}
.right-container, .right-container form, .left-container{
    padding: 2em !important;
}
.left-container{
    background-position: left;
}
.sidebar, .sidebar-ico{
    display: none;
}
.grid-heading, .grid-sol-heading{
    text-align: center;
    color: #fff;
    font-size: 2em;
    padding: 1.5em;
}
.grid-about-element,.grid-sol-element{
    padding: 0.5em;
}
.grid-2{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-column-gap: 1em; */
    /* padding: 1em; */
    padding-top: 2em;
}